* {
  padding: 0;
  margin: 0;
  align-items: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.doc_title {
  font-weight: bold;
  color: black;
  border: rgba(128, 128, 128, 0.623);
  border: 1px solid rgba(128, 128, 128, 0.425);
  /* outline: 0; */
}

.doc_title:focus {
  cursor: text;
  border: none;
  color: black;
  border-color: none;
  background-color: rgba(211, 211, 211, 0.568);
  outline: 0;
  transition-duration: 10000000s;
  outline-width: 0;
}

.content {
  cursor: text;
  /* border: none; */
  color: black;
  border-color: rgba(128, 128, 128, 0.37);
  /* outline: 0; */
  transition-duration: 10000000000000000000s;
  /* outline-width: 0; */
}
input[type="text"]:focus,
textarea:focus {
  /* outline: 1; */
  border: none;
}

.suggestions_title {
  color: black;
  padding: 7px;
  border-radius: 5px;
}

.s1 {
  font-weight: bold;
}

ul.keyboard {
  list-style-type: none;
  font-family: verdana;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  margin-left: 10px;
  width: 100%;
  height: 50%;
}

.keyboard li {
  display: inline;
  float: left;
  height: 18%;
  /** margin: auto; **/
  line-height: 25px;
  padding: 0;
  margin: 0.3% 0.6% 0.6% 0.2%;
  background-color: #ddd;
  color: black;
  vertical-align: middle;
  text-align: center;
  border-radius: 4px;
  font-size: 1vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.char {
  width: 5.75%;
  -webkit-transition: background-color 100ms;
}

.tab {
  width: 10%;
}

.at {
  width: 7.2%;
}

.last {
  margin-right: 0%;
}

.backspace {
  width: 13%;
}

.capslock {
  height: 50px;
  width: 11.75%;
}

.capslock.on {
  background-color: #ca4200;
}

.return {
  line-height: 50px;
  width: 14%;
}

.shift {
  line-height: 50px;
  width: 7.2%;
}

.last {
  margin-right: 0;
}

.space {
  line-height: 50px;
  width: 99%;
}

.keyboard .touch {
  background-color: #ca4200;
}

.shift {
  width: 16.25%;
}

#sidenav_holder {
  display: inline;
  /* border: 1px solid lightgray; */
  border-radius: 5px;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 7px;
  box-shadow: 0 2px 4px 0 lightgray;
  /* margin-top: 2vh; */
}

#sidenav_holder:hover {
  box-shadow: 2px 4px 8px 2px lightgray;
  transition-duration: 0.2s;
}

#sidenav {
  width: 200px;
  z-index: 2;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  box-shadow: 0 4px 80px 0 lightgray;
  color: #383838;
  border-radius: 5px;
}
.sidenav p {
  padding: 10px;
  padding-left: 18px;
  color: gray;
  font-size: 12px;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  margin: 10px 10px 10px 10px;
}
.sidenav hr {
  margin-left: 10px;
}
.sidenav li {
  text-decoration: none;
  color: #383838;
  display: block;
  transition: 0.3s;
  padding-left: 10px;
  font-size: 13px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidenav li:hover {
  color: rgb(74, 107, 255);
  background-color: lightgray;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.cardx {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 lightgray;
}

.cardx:hover {
  box-shadow: 2px 4px 10px 2px lightgrey;
  transition-duration: 0.2s;
}

.expansion_icon {
  display: none;
}
.expansion_icon:hover {
  cursor: pointer;
}

.title_handle {
  margin-top: 10px;
}

#accuracyMeter {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.479);
  border-radius: 100px;
}

#accuracyBar {
  width: 1%;
  height: 2px;
  border-radius: 100px;

  background-color: red;
}

#assistant {
  font-size: 13px;
  font-weight: bold;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2, 2);
    opacity: 0;
  }
}

.circle {
  border-radius: 50%;
  background-color: crimson;
  width: 5px;
  height: 5px;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 100;
}
.circle2 {
  border-radius: 50%;
  background-color: crimson;
  width: 11px;
  height: 11px;
  position: absolute;
  margin-top: 7px;
  margin-left: -3px;
  margin-right: 10px;
  opacity: 100;
  animation: scaleIn 2s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.error_text {
  background-color: crimson;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.correct_text {
  background-color: forestgreen;
  color: white;
  border-radius: 3px;
  padding: 5px;
}

.icon:hover {
  cursor: pointer;
}

.error_title {
  color: crimson;
}

.hide_assistant {
}

.assistant {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  box-shadow: 0 4px 80px 0 lightgray;
  color: #383838;
  border-radius: 5px;
}
.assistant p {
  padding: 10px;
  padding-left: 18px;
  color: gray;
  font-size: 12px;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  margin: 10px 10px 10px 10px;
}
.assistant hr {
  margin-left: 10px;
}
.assistant li {
  text-decoration: none;
  color: #383838;
  display: block;
  transition: 0.3s;
  padding-left: 10px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.assistant li:hover {
  background-color: rgba(211, 211, 211, 0.651);
}

.assistant .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.assistant_open {
  box-shadow: 0 2px 4px 0 lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.remark_0 {
  color: grey;
}

.remark_1 {
  color: orange;
}

.remark_2 {
  color: orangered;
}

.remark_3 {
  color: darkcyan;
}

.remark_4 {
  color: royalblue;
}

.remark_5 {
  color: forestgreen;
}

.base {
  background-color: #ddd !important;
}

.raised {
  background-color: cadetblue !important;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
